{% extends 'base.html' %}

{% block content %}
    <section class="about">
        <section class="smallsec avatar"></section>
        <section class="smallsec text_about">
            <h2>About me</h2>
            <section class="smallsec"></section>
                <p>Welcome to my online resume! I'm <em>Mariia Nebesnaia</em>, a highly motivated computer engineering graduate student with a passion for neural networks, data analysis, AI, and computational sustainability. I'm always seeking opportunities to further develop my skills and contribute to innovative projects.</p>
            </section>
        </section>
    </section>
    <section class="experience">
        <section class="smallsec">
        <h2>Experience</h2>
        <section class="smallsec">
            <h3>Project Manager & Website Supporter, Educational Agency Leader | April 2023 - present </h3>
            <ul>
                <li>Team coordination</li>
                <li>Weekly planning, evaluation and analytics</li>
                <li>Goal setting</li>
                <li>Managing meetings</li>
                <li>Website content management</li>
                <li>Website maintenance</li>
                <li>SEO</li>
            </ul>
        </section>
        </section>
        <section class="smallsec">
            <h3>Research Assistant, International Office, Eastern Mediterranean University | March 2023 - present</h2>
            <ul>
                <li>Translating promotional materials into Russian and English to expand the university's reach</li>
                <li>Performing warm and cold calls to prospective students and agents to promote the university's programs</li>
                <li>Answering emails and providing consultation to prospective students and agents about the university's programs</li>
            </ul>
        </section>
        <section class="smallsec">
            <h3>Computer Lab Assistant, Eastern Mediterranean University | January 2023 - March 2023</h2>
            <ul>
                <li>Developed network monitoring software with Python to improve security and performance of university systems</li>
            </ul>
        </section>
    </section>
    <section class="education">
        <section class="smallsec">
        <h2>Education</h2>
        <section class="smallsec">
            <ul>
                <li><b>Master of Science in Computer Engineering</b>, Eastern Mediterranean University (2022-2024)</li>
                <li><b>Bachelor of Science in Computer Science</b>, University of the People | CGPA: 3.97 (2018-2022)</li>
                <li>Linux Fundamentals Certificate, LearnQuest, Coursera (2022)</li>
                <li>Machine Learning with Python, Edx (IBM) (2020)</li>
                <li>Publishing Specialist, St. Petersburg Publishing and Printing College (СПБИПТ), Secondary Vocational, Publishing (2015-2017)</li>
            </ul>
        </section>
        </section>
        <section class="smallsec">
            <h2>Skills</h2>
            <section class="smallsec">
                <h3>Core Skills</h3>
                <ul>
                    <li>Machine Learning</li>
                    <li>Algorithms and Data Structures</li>
                    <li>Data Analysis</li>
                </ul>
            </section>
            <section class="smallsec">
                <h3>Technical Skills</h3>
                <p>Python, R, JavaScript, React, React Native, Kivy (Python), Java, Git, SQL, Automated Testing</p>
            </section>
            <section class="smallsec">
                <h3>Soft Skills</h3>
                <p>Teamwork, Communication, Negotiation</p>
            </section>
        </section>
    </section>
{% endblock  %}